.ProfileHeader {
    display: flex;
    flex-direction: row;
    
}
.ProfileHeader > * {
    padding: 5px;
}

.Profile {
    display: flex;
    justify-content: center;
}
body {
    width: 100%;
    height: 100%;
}
* {
    padding: 0;
    margin: 0;
}
#profileIcon {
    width: 100px;
    height: 100px;
    visibility: hidden;
}